# Rocket OS GRUB defaults, sourced from the end of /etc/default/grub.
GRUB_DISTRIBUTOR="Rocket OS"
GRUB_TIMEOUT=5
GRUB_TIMEOUT_STYLE=menu
GRUB_DISABLE_OS_PROBER=false
GRUB_CMDLINE_LINUX_DEFAULT="quiet splash loglevel=3 amd_pstate=active nowatchdog split_lock_detect=off"
